<ion-view view-title="Home">

  <ion-content>
	<div class="row responsive-lg">
		<div class="col">
			<a class="button button-full button-positive" style="align:0 auto; display: block; float: center;" href="#/app/combate/combate">
				pvp
			</a>
		</div>
	</div>
	<div class="row responsive-lg">
		<div class="col">
			<a class="button button-full button-positive" style="align:0 auto; display: block; float: center;" href="#/app/quests">
				aventura
			</a>
		</div>
	</div>
	<div class="row responsive-lg">
		<div class="col">
			<a class="button button-full button-positive" style="align:0 auto; display: block; float: center;" href="#/app/novonpc/{{combate.namespace}}">
				deck
			</a>
		</div>
	</div>
	<div class="row responsive-lg">
		<div class="col">
			<a class="button button-full button-positive" style="align:0 auto; display: block; float: center;" href="#/app/cards">
				colecao
			</a>
		</div>
	</div>
	<div class="row responsive-lg">
		<div class="col">
			<a class="button button-full button-positive" style="align:0 auto; display: block; float: center;" href="#/app/sobre">
				sobre
			</a>
		</div>
	</div>	
	<div class="row responsive-lg">
		<div class="col">
			<a class="button button-full button-positive" style="align:0 auto; display: block; float: center;" href="#/app/creditos">
				creditos
			</a>
		</div>
	</div>		


  </ion-content>
</ion-view>