<ion-view view-title="Jogadors">
  <ion-content>

  <a class="button button-positive" href="#/app/novojogador"><i class="icon ion-plus"></i> + jogador</a>

	<button class="button button-light" ng-click="atualizarJogadors()">atualizar jogadors</button>	
    <ion-list>
      <ion-item ng-repeat="jogador in jogadors" class="item card-item" href="#/app/jogador/{{jogador.namespace}}">
	      <div class="card stable-bg ink ink-dark">
	      		<div class="item item-avatar item-text-wrap">
	        	{{jogador.titulo}}<br />
	        	{{jogador.cidade}}
	        	</div>
	       </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

