   <canvas id="board" width="900" height="600" style="border:1px solid #000;"></canvas> 

Your browser does not support HTML5 canvas.
</canvas>

     <div class="tabs tabs-icon-only">
    <a class="tab-item">
        Inicio do Turno : {{controlador.counter}}
    </a>
    <a class="tab-item"> 
        Ações do Jogador: {{controlador.counter2}}
    </a>
    <a class="tab-item">       
         Fim do Turno: {{controlador.counter3}}   
    </a>    
    <a class="tab-item">
      <i class="icon ion-star"></i>
    </a>
    <a class="tab-item">
      <i class="icon ion-gear-a"></i>
    </a>
  </div>
 