
<ion-view view-title="{{personagem.titulo}}/{{combate.titulo}}">

  <ion-content>

      <div class="row">
      <div class="col col-50">
        <div id="inimigo">
          <div><img ng-src="uploads/{{per2.imagem}}" class="foto" alt="imagem"/></div>
          <div class="titulo">{{per2.titulo}}</div>
          <div class="life" style="background-color:#ff0000; width:{{per2.hp/2}}px"><div style="background-color:#00ff00; width:{{per2.hpatual/2}}px">{{per2.hp}}/{{per2.hpatual}}</div></div>
          <div class="resource" style="background-color:#ff0000; width:{{per2.mana/2}}px"><div style="background-color:#0000ff; width:{{per2.manaatual/2}}px">{{per2.mana}}/{{per2.manaatual}}</div></div>
          <p ng-bind-html="mesgenemi"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">      
        <div id="personagem">
          <div><img ng-src="uploads/{{per1.imagem}}" class="foto" alt="imagem"/></div>
          <div class="titulo">{{per1.titulo}}</div>
          <div class="life" style="background-color:#ff0000; width:{{per1.hp/2}}px"><div style="background-color:#00ff00; width:{{per1.hpatual/2}}px">{{per1.hp}}/{{per1.hpatual}}</div></div>
          <div class="resource" style="background-color:#ff0000; width:{{per1.mana/2}}px"><div style="background-color:#0000ff; width:{{per1.manaatual/2}}px">{{per1.mana}}/{{per1.manaatual}}</div></div>
          <div class="resource" style="background-color:#ff0000; width:{{per1.experiencia/2}}px"><div style="background-color:#ffff00; width:{{per1.experienciaatual/2}}px">{{per1.experienciaatual}}/{{per1.experienciaatual}}</div></div>
          <p ng-bind-html="message"></p>
        </div>
      </div>
      </div> 
  </ion-content>

  <div class="tabs tabs-icon-only">
    <a class="tab-item">
      <button class="button button-balanced" ng-click="turno(1,per1,per2)">atacar</button>  
    </a>      
    <a class="tab-item">
      <i class="icon ion-star"></i>
    </a>
    <a class="tab-item">
      <i class="icon ion-gear-a"></i>
    </a>
  </div>

</ion-view>