<ion-view view-title="{{mapaForca.name}}">
  <ion-content>
		<h2>Nova TarefaNpc</h2>
		<form name="tarefanpcForm">
				<label class="item item-input" >
					<input type="text" type="text" ng-model="tarefanpc.ordem" name="ordem" placeholder="ordem"/> 
				</label>			
				<label class="item item-input" >
					<input type="text" type="text" ng-model="tarefanpc.name" name="name" placeholder="name"/> </label>
				<label class="item item-input" >
					<input type="text" type="text" ng-model="tarefanpc.descricao" name="descricao" placeholder="descricao"/> 
				</label>
				<label class="item item-input" >
					<input type="text" type="text" ng-model="tarefanpc.valor" name="valor" placeholder="valor"/> 
				</label>					
				<label class="item item-input" >
					<input type="text" type="text" ng-model="tarefanpc.dano" name="dano" placeholder="dano"/> 
				</label>	
				<label class="item item-input" >
					<input type="text" type="text" ng-model="tarefanpc.recarga" name="recarga" placeholder="recarga"/> 
				</label>	
		</form>
		    <button class="button button-balanced" ng-click="addLine(tarefanpc)">Add a line</button>
		<button class="button button-balanced" ng-click="adicionarTarefaNpc(tarefanpc)">salvar</button>
  </ion-content>
</ion-view>


