<ion-view view-title="{{combate.name}}">
  <ion-content>
  	<h2>Novo MapaForca</h2>
		<form class="list" name="mapaForcaForm">
		
		<label class="item item-input item-floating-label">
			<span class="input-label">Ordem</span>
			<input type="text" ng-model="mapaForca.ordem" name="ordem" placeholder="ordem"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label"> Status</span>
			<input type="text" ng-model="mapaForca.status" name="status" placeholder="status"/>
		</label>		
		<label class="item item-input item-floating-label">
			<span class="input-label"> NumeroEquipe</span>
			<input type="text" ng-model="mapaForca.numeroEquipe" name="numeroEquipe" placeholder="numeroEquipe"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Itegrantes</span>
			<input type="text" ng-model="mapaForca.itegrantes" name="itegrantes" placeholder="itegrantes"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Name</span>		
			<input type="text" ng-model="mapaForca.name" name="name" placeholder="name"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Decrição</span>		
			<input type="text" ng-model="mapaForca.descricao" name="descricao" placeholder="descricao"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">PrefixoViatura</span>		
			<input type="text" ng-model="mapaForca.hp" name="hp" placeholder="hp"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">TelefoneContato</span>		
			<input type="text" ng-model="mapaForca.hpatual" name="hpatual" placeholder="hpatual"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">NaturezaOperacao</span>		
			<input type="text" ng-model="mapaForca.fa" name="fa" placeholder="fa"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">UnidadesSolicitantes</span>		
			<input type="text" ng-model="mapaForca.mana" name="mana" placeholder="mana"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">NumeralPelotao</span>		
			<input type="text" ng-model="mapaForca.manaatual" name="manaatual" placeholder="manaatual"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">AreaAtuacao</span>		
			<input type="text" ng-model="mapaForca.fd" name="fd" placeholder="fd"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Tarefas</span>		
			<input type="text" ng-model="mapaForca.tarefas" name="tarefas" placeholder="tarefas"/>
		</label>
		</form>
		<button class="button button-balanced" ng-click="novoMapaForca(mapaForca)">salvar</button>
  </ion-content>
</ion-view>
