<ion-view view-title="{{combate.name}}">
  <ion-content>
  	<h2>Novo Npc</h2>
		<form class="list" name="npcForm">
		
		<label class="item item-input item-floating-label">
			<span class="input-label">Ordem</span>
			<input type="text" ng-model="npc.ordem" name="ordem" placeholder="ordem"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label"> Status</span>
			<input type="text" ng-model="npc.status" name="status" placeholder="status"/>
		</label>		
		<label class="item item-input item-floating-label">
			<span class="input-label"> NumeroEquipe</span>
			<input type="text" ng-model="npc.numeroEquipe" name="numeroEquipe" placeholder="numeroEquipe"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Itegrantes</span>
			<input type="text" ng-model="npc.itegrantes" name="itegrantes" placeholder="itegrantes"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Name</span>		
			<input type="text" ng-model="npc.name" name="name" placeholder="name"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Decrição</span>		
			<input type="text" ng-model="npc.descricao" name="descricao" placeholder="descricao"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">PrefixoViatura</span>		
			<input type="text" ng-model="npc.prefixoViatura" name="prefixoViatura" placeholder="prefixoViatura"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">TelefoneContato</span>		
			<input type="text" ng-model="npc.telefoneContato" name="telefoneContato" placeholder="telefoneContato"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">NaturezaOperacao</span>		
			<input type="text" ng-model="npc.naturezaOperacao" name="naturezaOperacao" placeholder="naturezaOperacao"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">UnidadesSolicitantes</span>		
			<input type="text" ng-model="npc.unidadesSolicitantes" name="unidadesSolicitantes" placeholder="unidadesSolicitantes"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">NumeralPelotao</span>		
			<input type="text" ng-model="npc.numeralPelotao" name="numeralPelotao" placeholder="numeralPelotao"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">AreaAtuacao</span>		
			<input type="text" ng-model="npc.areaAtuacao" name="areaAtuacao" placeholder="areaAtuacao"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Tarefas</span>		
			<input type="text" ng-model="npc.tarefas" name="tarefas" placeholder="tarefas"/>
		</label>
		</form>
		<button class="button button-balanced" ng-click="novoNpc(npc)">salvar</button>
  </ion-content>
</ion-view>
