<ion-view view-title="{{combate.name}}">
  <ion-content>
  	<h2>Novo Card</h2>
		<form class="list" name="cardForm">
		
		<label class="item item-input item-floating-label">
			<span class="input-label">Ordem</span>
			<input type="text" ng-model="card.ordem" name="ordem" placeholder="ordem"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Name</span>		
			<input type="text" ng-model="card.name" name="name" placeholder="name"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label"> Tipo</span>
			<input type="text" ng-model="card.tipo" name="tipo" placeholder="tipo"/>
		</label>		
		<label class="item item-input item-floating-label">
			<span class="input-label"> raridade</span>
			<input type="text" ng-model="card.raridade" name="raridade" placeholder="raridade"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Decrição</span>		
			<input type="text" ng-model="card.descricao" name="descricao" placeholder="descricao"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">PrefixoViatura</span>		
			<input type="text" ng-model="card.prefixoViatura" name="hp" placeholder="hp"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">TelefoneContato</span>		
			<input type="text" ng-model="card.hpatual" name="hpatual" placeholder="hpatual"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">NaturezaOperacao</span>		
			<input type="text" ng-model="card.naturezaOperacao" name="naturezaOperacao" placeholder="naturezaOperacao"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">UnidadesSolicitantes</span>		
			<input type="text" ng-model="card.unidadesSolicitantes" name="unidadesSolicitantes" placeholder="unidadesSolicitantes"/>
		</label>

		<label class="item item-input item-floating-label">
			<span class="input-label">Classe</span>		
			<input type="text" ng-model="card.classe" name="classe" placeholder="classe"/>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Efeito</span>		
			<input type="text" ng-model="card.efeito" name="efeito" placeholder="efeito"/>
		</label>
		</form>
		<button class="button button-balanced" ng-click="novoCard(card)">salvar</button>
  </ion-content>
</ion-view>
