
<ion-view view-title="Regiao: {{combate.name}}">

  <ion-content>
	<p>
		<a class="button button-positive" href="#/app/tabuleiro/combate/0/1">
			Lutar
		</a>
	</p>
	<p>
		<a class="button button-positive" href="#/app/novomapaForca/{{combate.namespace}}">
			<i class="icon ion-plus"></i>MapaForca
		</a>
		<a class="button button-positive" href="#/app/novonpc/{{combate.namespace}}">
			<i class="icon ion-plus"></i>Npc
		</a>
		<a class="button button-positive" href="#/app/novocard/{{combate.namespace}}">
			<i class="icon ion-plus"></i>Card
		</a>
	</p>
	<p>
		<a class="button button-positive" href="#/app/editarcombate/{{combate.namespace}}">
		<i class="icon ion-edit"></i>alterar info
		</a>
	</p>
  	
	<label class="item item-input item-floating-label">
		<span class="input-label">Logo</span>
		<input type="file" nv-file-select="" uploader="uploader" multiple />			
	</label>   
        <ul>
            <li ng-repeat="item in uploader.queue">
             
                <div>Size: {{ item.file.size/1024/1024|number:2 }} Mb</div>
                <div ng-show="uploader.isHTML5">
                    Progress: {{ item.progress }}
                    <div class="item-progress-box">
                        <div class="item-progress" ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                </div>
                <div ng-if="controller.isImage(item._file)">
                    Thumbnail:
                        <!-- Image preview -->
                        <!--auto height-->
                        <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                        <!--auto width-->
                        <div ng-thumb="{ file: item._file, height: 100 }"></div>
                        <!--fixed width and height -->
                        <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                </div>
                <div>
                    <button ng-click="item.upload()" class="btn btn-success btn-xs" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                    	<span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button ng-click="item.cancel()" class="btn btn-danger btn-xs" class="btn btn-warning btn-xs" ng-disabled="!item.isUploading">
                    	<span class="glyphicon glyphicon-ban-circle"></span> Cancelar
                    </button>
                    <button ng-click="item.remove()">
                    	<span class="glyphicon glyphicon-trash"></span> Limpar
                    </button>
                </div>
            </li>
        </ul>
        <div>
            <div>
                Total progress: {{ uploader.progress }}
                <div class="total-progress-box">
                    <div class="total-progress" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
 
        </div>	
        
        <img ng-src="uploads/{{combate.logo}}" alt="logo" height="150"/>

		<div class="row">
		<h2>MapaForcas</h2>
			<div class="col col-50">
				<ion-list>
					<ion-item ng-class="{'selecionado negrito': combate.selecionado}" ng-repeat="(indiceCat, cat) in combate.mapaForcas" class="item-button-right">
						<div ng-if="cat.imagem">
							<img ng-src="uploads/{{cat.imagem}}" class="avatar" alt="imagem"/>
							{{indiceCat = combate.mapaForcas.indexOf(cat)}} -{{cat.name}} 
							<br/>
							{{cat.descricao}}
						</div>
						<div ng-if="!cat.imagem">
							{{indiceCat = combate.mapaForcas.indexOf(cat)}} -{{cat.name}} 
							<br/>
							{{cat.descricao}}
						</div>

						<div class="buttons">
							<a class="button button-light" href="#/app/editarmapaForca/{{combate.namespace}}/{{indiceCat}}">
								<i class="icon ion-edit"></i>
							</a>	
							<button class="button button-light" ng-click="apagarMapaForca(indiceCat)">
								<i class="icon ion-trash-b"></i>
							</button>	
							<a class="button button-light" href="#/app/novatarefa/{{combate.namespace}}/{{indiceCat}}">
								<i class="icon ion-plus"></i> tarefa
							</a>
						                        	<a class="button button-positive" href="#/app/tabuleiro/combate/{{indiceCat}}/1">
												Lutar
											</a>
						</div>
						
						<ion-list>
							<ion-item  ng-repeat="item in cat.tarefas | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao" class="item card-item">
								<div class="card stable-bg ink ink-dark">
									<div class="item item-avatar item-text-wrap">	
									    <div ng-if="item.imagem">
		        							<img ng-src="uploads/{{item.imagem}}" class="avatar" alt="imagem"/>
		        							<strong>{{item.ordem}}</strong> - {{item.name}} - {{ item.valor}}
									    </div>
									    <div ng-if="!item.imagem">
									        <a href="#/app/editartarefa/{{combate.namespace}}/{{indiceCat}}/{{$index}}" class="avatar">
									        	<i class="icon ion-image"></i>
									        </a>   
									        <strong>{{item.ordem}}</strong> - {{item.name}} - {{ item.valor}}   
									    </div>								
				                    	<div class="card-footer text-right">
				                        	<a class="button button-light" href="#/app/editartarefa/{{combate.namespace}}/{{indiceCat}}/{{$index}}"><i class="icon ion-edit"></i></a>
				                        	<button class="button button-light" ng-click="apagarItem($index,indiceCat)"><i class="icon ion-trash-b"></i></button>
	
				                        	<div class="pull-left">
				                        	{{item.descricao}}
				                        	</div>
				                    	</div>	
				                    </div>						
								</div>
							</ion-item>
						</ion-list>
					</ion-item>
				</ion-list>
			</div>

			<div class="col col-50">
			<h2>Npcs</h2>
				<ion-list>
					<ion-item ng-class="{'selecionado negrito': combate.selecionado}" ng-repeat="(indiceNpc, npc) in combate.npcs" class="item-button-right">
						<div ng-if="npc.imagem">
							<img ng-src="uploads/{{npc.imagem}}" class="avatar" alt="imagem"/>
							{{indiceNpc = combate.npcs.indexOf(npc)}} -{{npc.name}} 
						</div>
						<div ng-if="!npc.imagem">
							{{indiceNpc = combate.npcs.indexOf(npc)}} -{{npc.name}} 
						</div>

						<div class="buttons">
							<a class="button button-light" href="#/app/editarnpc/{{combate.namespace}}/{{indiceNpc}}">
								<i class="icon ion-edit"></i>
							</a>	
							<button class="button button-light" ng-click="apagarMapaForca(indiceNpc)">
								<i class="icon ion-trash-b"></i>
							</button>	
							<a class="button button-light" href="#/app/novatarefainimigo/{{combate.namespace}}/{{indiceNpc}}">
								<i class="icon ion-plus"></i> tarefa
							</a>			
						</div>
						
						<ion-list>
							<ion-item  ng-repeat="item in npc.tarefainimigos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao" class="item card-item">
								<div class="card stable-bg ink ink-dark">
									<div class="item item-avatar item-text-wrap">	
									    <div ng-if="item.imagem">
		        							<img ng-src="uploads/{{item.imagem}}" class="avatar" alt="imagem"/>
		        							<strong>{{item.ordem}}</strong> - {{item.name}} - {{ item.valor}}
									    </div>
									    <div ng-if="!item.imagem">
									        <a href="#/app/editartarefainimigo/{{combate.namespace}}/{{indiceNpc}}/{{$index}}" class="avatar">
									        	<i class="icon ion-image"></i>
									        </a>   
									        <strong>{{item.ordem}}</strong> - {{item.name}} - {{ item.valor}}   
									    </div>								
				                    	<div class="card-footer text-right">
				                        	<a class="button button-light" href="#/app/editartarefainimigo/{{combate.namespace}}/{{indiceNpc}}/{{$index}}"><i class="icon ion-edit"></i></a>
				                        	<button class="button button-light" ng-click="apagarItem($index,indiceNpc)"><i class="icon ion-trash-b"></i></button>
				                        	<div class="pull-left">
				                        	{{item.descricao}}
				                        	</div>
				                    	</div>	
				                    </div>						
								</div>
							</ion-item>
						</ion-list>
					</ion-item>
				</ion-list>
			</div>
		</div>
		<div class="row">
			<div class="col col-50">
			<h2>Cards</h2>
				<ion-list>
					<ion-item ng-class="{'selecionado negrito': combate.selecionado}" ng-repeat="(indiceCard, card) in combate.cards" class="item-button-right">
						
						<div ng-if="card.imagem">
							<img ng-src="uploads/{{card.imagem}}" class="avatar" alt="imagem"/>
							{{indiceCard = combate.cards.indexOf(card)}} -{{card.name}} 
						</div>
						<div ng-if="!card.imagem">
							{{indiceCard = combate.cards.indexOf(card)}} -{{card.name}} 
						</div>

						<div class="buttons">
							<a class="button button-light" href="#/app/editarcard/{{combate.namespace}}/{{indiceCard}}">
								<i class="icon ion-edit"></i>
							</a>	
							<button class="button button-light" ng-click="apagarCard(indiceCard)">
								<i class="icon ion-trash-b"></i>
							</button>	
							<a class="button button-light" href="#/app/novatarefa/{{combate.namespace}}/{{indiceCard}}">
								<i class="icon ion-plus"></i> tarefa
							</a>			
						</div>
						
						<ion-list>
							<ion-item  ng-repeat="item in card.tarefas | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao" class="item card-item">
								<div class="card stable-bg ink ink-dark">
									<div class="item item-avatar item-text-wrap">	
									    <div ng-if="item.imagem">
		        							<img ng-src="uploads/{{item.imagem}}" class="avatar" alt="imagem"/>
		        							<strong>{{item.ordem}}</strong> - {{item.name}} - {{ item.valor}}
									    </div>
									    <div ng-if="!item.imagem">
									        <a href="#/app/editartarefa/{{combate.namespace}}/{{indiceCard}}/{{$index}}" class="avatar">
									        	<i class="icon ion-image"></i>
									        </a>   
									        <strong>{{item.ordem}}</strong> - {{item.name}} - {{ item.valor}}   
									    </div>								
				                    	<div class="card-footer text-right">
				                        	<a class="button button-light" href="#/app/editartarefa/{{combate.namespace}}/{{indiceCard}}/{{$index}}"><i class="icon ion-edit"></i></a>
				                        	<button class="button button-light" ng-click="apagarItem($index,indiceCard)"><i class="icon ion-trash-b"></i></button>
				                        	<div class="pull-left">
				                        	{{item.descricao}}
				                        	</div>
				                    	</div>	
				                    </div>						
								</div>
							</ion-item>
						</ion-list>
					</ion-item>
				</ion-list>
			</div>
			</div>
  </ion-content>
</ion-view>