<ion-view view-title="Créditos">
  <ion-content>
<h1>AMBROSIA - Card Game</h1>
<p>O mundo de AMBROSIA dos Deuses PRIMASIA existe para as grandes guerras.</p>
<p>Generais, reis e jovens conquistadores estão em constantes buscas.</p>
<p>Uns buscam poder, outros riquezas, enquantos alguns sabedoria.</p>
<p>Todas as grandes buscas findam em grandes momentos.</p>
<p>Você está aqui para vivenciar cada um deles. Os que já aconteceram, os que estão acontecendo e os que virão.</p>
<p>Através de aliados, poderes e armas, você deve procurar a melhor estratégia para vencer cada obstáculo para alcançar seus objetivos.</p>
<p>Não será facil, mas para cada grande conquista, grandes recompensas.</p>
<p>Aventure-se pelo mundo de AMBROSIA e vivencie os mais épicos momentos deste mundo.</p>
  </ion-content>
</ion-view>