
<ion-view view-title="{{combate.name}}">

  <ion-content>

<!-- Inicio inimigo -->
    <div class="row">
      <div class="col">
       <!-- Inicio mao do inimigo -->
        <div class="row">

            <div class="col-10" ng-repeat="cardInimigo in maoInimigo track by $index ">
              <div class="card" style="width:50px; height:75px"> 
                   <img ng-src="img/versocard.jpg" alt="versocard" height="75" width="50"/>
 
              </div>
            </div>

        </div>
        <!-- Fim mao do inimigo -->
        <!-- Inicio descarte+personagem+deck do inimigo -->
        <div class="row">
          <!-- Inicio descarte do inimigo -->
          <div class="col col-25"> 
            <div class="row">
              <button class="button button-dark">{{descarteInimigo.length}}</button>
            </div>
            <div class="row">
              <div class="col">
                <p ng-repeat="descarte in descarteInimigo | limitTo : 3">
                      {{descarte.name}} type:{{descarte.type}}
                </p>
              </div>
            </div>
          </div>
          <!-- Fim descarte do inimigo -->
          <!-- Inicio personagem inimigo -->
          <div class="col col-50">      
            <div id="personagem">
              <div><img ng-src="uploads/{{per2.imagem}}" class="foto" alt="imagem"/></div>
              <div class="name">{{per2.name}}</div>
              <div class="resource" style="display:inline; float?left; background-color:#ffaaaa; width:30px">{{per2.attack}}</div>  
              <div class="life" style="display:inline; float?left; background-color:#00ff00; width:30px">{{per2.healthatual}}</div>
              <div class="resource" style="display:inline; float?left; background-color:#aaaaff; width:30px">{{controlador.manaatualI}}/{{controlador.manamaxI}}</div>
              <button class="button button-balanced" ng-if="per2.active" ng-click="ataque(1,per2,per1)">
                atacar
              </button> 
               <button class="button button-balanced" ng-if="!per2.active">
                aguarde
              </button>
            </div>
          </div>
          <!-- Inicio deck do inimigo -->
          <div class="col col-25"> 
            <button class="button button-balanced">{{deckInimigo.length}}</button>
          </div>
          <!-- Fim deck do inimigo -->
        </div>
        <!-- Fim descarte+personagem+deck do inimigo -->
        <!-- Inicio mesa do inimigo -->
        <div class="row" style="border:1px solid #000; width:100%; height:160px;">
            <div class="col-10" ng-repeat="cardmesaInimigo in mesaInimigo | limitTo : 7 track by $index">
              <div class="card" style="width:100px; height:150px"> 
                <div class="item item-divider">
                    <div ng-if="cardmesaInimigo.active">
                    <button class="button button-balanced" ng-click="ataque(1,{{cardmesaInimigo}},{{per1}})">
                      id: {{$index}} - cost:{{cardmesaInimigo.cost}} 
                    </button> 
                  </div>
                  <div ng-if="!cardmesaInimigo.active">              
                      cost:{{cardmesaInimigo.cost}}
                  </div> 
                </div>
                <div class="item item-divider">
                  imagem
                </div>
                <div class="item item-text-wrap">
                  <h4>{{cardmesaInimigo.name}}</h4>
                  <i class="subdued"> atk:{{cardmesaInimigo.attack}}</i>
                  <i class="subdued">def:{{cardmesaInimigo.health}}</i>
                </div>
              </div>
            </div>
        </div>
        <!-- Fim mesa do inimigo -->        
 
      </div>
    </div> 
    <!-- Fim inimigo -->  
<!-- Inicio controlador --> 
  <div class="row">
      <div class="col col-80">
                    <div class="life" style="background-color:#ff0000; width:100%"><p ng-bind-html="message"></p></div>
      </div>
      <div class="col col-20">
                    <button class="button button-dark" ng-click="fimTurno()">{{controlador.turnoN}}</button>
      </div>
  </div>      
<!-- Fim controlador -->

<!-- Inicio jogador -->
    <div class="row">
      <div class="col">
        <!-- Inicio mesa do jogador -->
        <div class="row" style="border:1px solid #000; padding:0; width:100%; height:160px;">
            <div class="col-10" ng-repeat="cardmesaJogador in mesaJogador | limitTo : 7 track by $index">
              <div class="card"> 
                <div class="item item-divider">
                    <div ng-if="cardmesaJogador.active">
                    <button class="button button-balanced" ng-click="ataque(1,cardmesaJogador,per2)">
                      id: {{$index}} - cost:{{cardmesaJogador.cost}} 
                    </button> 
                  </div>
                  <div ng-if="!cardmesaJogador.active">              
                      cost:{{cardmesaJogador.cost}}
                  </div> 
                </div>
                <div class="item item-divider">
                  imagem
                </div>
                <div class="item item-text-wrap">
                  <h4>{{cardmesaJogador.name}}</h4>
                  <i class="subdued"> atk:{{cardmesaJogador.attack}}</i>
                  <i class="subdued">def:{{cardmesaJogador.health}}</i>
                </div>
              </div>
            </div>
        </div>
        <!-- Fim mesa do jogador -->
        <!-- Inicio descarte+personagem+deck do jogador -->
        <div class="row">
          <!-- Inicio descarte do jogador -->
          <div class="col col-25"> 
            <div class="row">
              <button class="button button-dark">{{descarteJogador.length}}</button>
            </div>
            <div class="row">
              <div class="col">
                <p ng-repeat="descarte in descarteJogador | limitTo : 3  ">
                      {{descarte.name}} type:{{descarte.type}}
                </p>
              </div>
            </div>
          </div>
          <!-- Fim descarte do jogador -->
          <!-- Inicio personagem jogador -->
          <div class="col col-50">      
            <div id="personagem">
              <div><img ng-src="uploads/{{per1.imagem}}" class="foto" alt="imagem"/></div>
              <div class="name">{{per1.name}}</div>
              <div class="resource" style="display:inline; float?left; background-color:#ffaaaa; width:30px">{{per1.attack}}</div>  
              <div class="life" style="display:inline; float?left; background-color:#00ff00; width:30px">{{per1.healthatual}}</div>
              <div class="resource" style="display:inline; float?left; background-color:#aaaaff; width:30px">{{controlador.manaatual}}/{{controlador.manamax}}</div>
              <button class="button button-balanced" ng-if="per1.active" ng-click="ataque(1,per1,per2)">
                atacar
              </button> 
               <button class="button button-balanced" ng-if="!per1.active">
                aguarde
              </button>
            </div>
          </div>
          <!-- Inicio deck do jogador -->
          <div class="col col-25"> 
            <button class="button button-balanced">{{deckJogador.length}}</button>
          </div>
          <!-- Fim deck do jogador -->
        </div>
        <!-- Fim descarte+personagem+deck do jogador -->
        <!-- Inicio mao do jogador -->
        <div class="row">

            <div class="col-10" ng-repeat="cardJogador in maoJogador track by $index">
              <div class="card" style="width:100px; height:150px"> 
                <div class="item item-divider">
                  <div ng-if="cardJogador.active">
                    <button class="button button-primary" ng-click="showConfirm({{$index}},cardJogador, maoJogador,mesaJogador,1)">
                      id: {{$index}} - cost:{{cardJogador.cost}} 
                    </button>
                   <!-- <button class="button button-balanced" ng-click="jogarCard({{$index}},cardJogador, maoJogador,mesaJogador,1)">
                      id: {{$index}} - cost:{{cardJogador.cost}} 
                    </button> -->
                  </div>
                  <div ng-if="!cardJogador.active">              
                      cost:{{cardJogador.cost}}
                  </div>                
                </div>
                <div class="item item-divider">
                  imagem
                </div>
                <div class="item item-text-wrap">

                  <h4>{{cardJogador.name}}</h4>
                  <i class="subdued"> atk:{{cardJogador.attack}}</i>
                  <i class="subdued">def:{{cardJogador.health}}</i>
                </div>
              </div>
            </div>

        </div>
        <!-- Fim mao do jogador -->
      </div>
    </div> 
    <!-- Fim jogador -->
  </ion-content>

  <div class="tabs tabs-icon-only">
    <a class="tab-item">
        Inicio do Turno : {{controlador.counter}}
    </a>
    <a class="tab-item"> 
        Ações do Jogador: {{controlador.counter2}}
    </a>
    <a class="tab-item">       
         Fim do Turno: {{controlador.counter3}}   
    </a>    
    <a class="tab-item">
      <i class="icon ion-star"></i>
    </a>
    <a class="tab-item">
      <i class="icon ion-gear-a"></i>
    </a>
  </div>

</ion-view>