<ion-view view-title="Users">
  <ion-content>

  <a class="button button-positive" href="#/app/novouser"><i class="icon ion-plus"></i> + user</a>

	<button class="button button-light" ng-click="atualizarUsers()">atualizar users</button>	
    <ion-list>
      <ion-item ng-repeat="user in users" class="item card-item" href="#/app/user/{{user.namespace}}">
	      <div class="card stable-bg ink ink-dark">
	      		<div class="item item-avatar item-text-wrap">
	        	{{user.name}}<br />
	        	{{user.cidade}}
	        	</div>
	       </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

