/* Empty. Add your own CSS if you like */
body{
  
}
.scroll-content{
  /*background: url('../img/gameboard.jpg') fixed no-repeat center;*/
}
.life{
	background-color: #f00;
  display:inline;
  float: left;
}
.foto{
	width: 50px;
	height: 50px;
  display:inline;
  float: left;
}
#inimigo{
	width: 50%;
	float: 0 auto;
	display: block;
	height: 150px;
	border: 5px solid #700;
}

#personagem{
	width: 50%;
	float: 0 auto;
	display: block;
	height: 80px;
	border: 5px solid #000;

}
.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 650ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 650ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 650ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 650ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 650ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}
.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  
  margin-top: 100%;
}

.ng-enter-active {
  margin-top: 0;
}

.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  
  margin-top: 0;
}

.ng-leave-active {
  margin-top: 100%;
}

.ng-move {
  -webkit-transition: 1s;
  transition: 1s;
  
  background: gold;
}

.ng-move-active {
  background: #fff;
}